.container{
	width: 100%;
	margin-bottom: 20px;
}

.header{
	color: #000000;
	width: 100%;
	left: 0;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    left: 0;
    width: 100%;
    color: #000000;
	text-align: center;
	box-shadow: 0px -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19)
}